<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcos Sport - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/534c2fa5ea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Content/Style.css" />
</head>
<body>
    <header class="header">
        <img class="indi-logo" src="~/Content/Images/indi_logo.png" />
        <img class="tech-logo" src="~/Content/Images/tech_logo.png" />

        <div id="menuBox">
            <ul id="menu">
                <li><a class="menuItem" href="#">Home</a></li>
                <li><a class="menuItem" href="#">Profile</a></li>
                <li><a class="menuItem" href="#">About</a></li>
                <li><a class="menuItem" href="#">Contacts</a></li>
            </ul>
        </div>


        <div id="hamburger">
            <div id="topLine" class="hamburger-lines"></div>
            <div id="centerLine" class="hamburger-lines"></div>
            <div id="bottomLine" class="hamburger-lines"></div>
        </div>


        <ul class="nav-bar">
            <li>@Html.ActionLink("Shirts", "GetShirts", "Shirts", null, new { @class = "nav-bar-links" })</li>
            <li>@Html.ActionLink("Pants", "GetPants", "Pants", null, new { @class = "nav-bar-links" })</li>
            <li class="home-li">@Html.ActionLink("Marcos Sport", "Index", "Home", null, new { @class = "home-logo-link" })</li>
            <li>@Html.ActionLink("Shoes", "GetShoes", "Shoes", null, new { @class = "nav-bar-links" })</li>
            <li>@Html.ActionLink("Equipment", "GetEquipment", "Equipment", null, new { @class = "nav-bar-links" })</li>
        </ul>

    </header>


    <main class="main-container">
        @RenderBody()
    </main>


    <footer class="footer">
        <article class="contact-footer">
            <div class="footer-links-box">
                <a title="My linkedin Page" class="contact-links" href="https://www.linkedin.com/in/marcos-bazbih/" target="blank">
                    <i class="fab fa-linkedin contact-icons"></i>
                </a>
                <a title="My Github Page" class="contact-links" href="https://github.com/Marcos-Bazbih" target="blank">
                    <i class="fab fa-github contact-icons"></i>
                </a>
                <a title="My Email" class="contact-links" href="mailto: marcosbazbih@gmail.com" target="blank">
                    <i class="far fa-envelope contact-icons"></i>
                </a>
            </div>
            <div class="footer-title">
                <p class="footer-header">Contact Me Here</p>
            </div>
        </article>
        <div class="copyright"> &copy; @DateTime.Now.Year - Marcos Bazbih </div>
        <article class="projects-footer">
            <div class="footer-title">
                <p class="footer-header">My Projects</p>
            </div>
            <div class="footer-links-box">
                <a title="Kendrick Lamar Project" class="projects-links" href="https://marcos-bazbih.github.io/Kendrick-Lamar/" target="blank">
                    <img class="projects-img" src="~/Content/Images/kendrick_Lamar.png" alt="">
                </a>
                <a title="Music Records Store Project" class="projects-links" href="https://marcos-bazbih.github.io/Hip-Hop-House-eCommerce-app/"
                   target="blank">
                    <img class="projects-img" src="~/Content/Images/HipHop_House.png" alt="">
                </a>
                <a title="Movies Project" class="projects-links" href="https://marcos-bazbih.github.io/Marcos-Movies/" target="blank">
                    <img class="projects-img" src="~/Content/Images/marcos_movies.png" alt="">
                </a>
            </div>
        </article>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/javascript")
    @RenderSection("scripts", required: false)
</body>
</html>
