@using Marcos_Sport_Store.Models;

<section class="cards-container">
    @foreach (Equipment equipment in Model)
    {
        <article class="card">
            <div class="card-img-box">
                <img class="card-img"
                     src="@equipment.Image" />
            </div>
            <div class="card-info">
                <div class="card-info-header">
                    <p>@equipment.ProductName</p>
                </div>
                <div class="card-info-footer">
                    <p>@equipment.Price$</p>
                    <p>@equipment.Company</p>
                    <p>@equipment.SportType</p>
                </div>
            </div>
        </article>
    }
</section>
<button>
    @Html.ActionLink("Client", "GetEquipment", "Equipment")
</button>
<button>
    @Html.ActionLink("Admin", "GetEquipmentTable", "Equipment")
</button>
<button>
    @Html.ActionLink("Football", "GetFootballEquipment", "Equipment")
</button>
<button>
    @Html.ActionLink("Basketball", "GetBasketballEquipment", "Equipment")
</button>
<button>
    @Html.ActionLink("Price - Low to high", "GetEquipmentByPrice", "Equipment")
</button>