@using Marcos_Sport_Store.Models;

<section class="cards-container">
    @foreach (Shoe shoe in Model)
    {
        <article class="shoe-card">
            <div class="card-img-box">
                <img class="card-img"
                     src="@shoe.Image" />
            </div>
            <div class="card-info">
                <h2>@shoe.Company</h2>
                <h3>@shoe.Model</h3>
                <h3>@shoe.Type</h3>
                <h3>@shoe.Price$</h3>
            </div>
        </article>
    }
</section>
<button>
    @Html.ActionLink("Admin", "GetShoesTable", "Shoes")
</button>