@using Marcos_Sport_Store.Models;

<table class="admin-table">
    <thead>
        <tr>
            <th class="table-th">Id</th>
            <th class="table-th">Type</th>
            <th class="table-th">Company</th>
            <th class="table-th">Model</th>
            <th class="table-th">Price</th>
            <th class="table-th">Quantity</th>
            <th class="table-th">In Sale</th>
            <th class="table-th">Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Shoe shoe in Model)
        {
            if (shoe.InSale == true)
            {
                <tr class="table-tr">
                    <td class="table-td">@shoe.Id</td>
                    <td class="table-td">@shoe.Type</td>
                    <td class="table-td">@shoe.Company</td>
                    <td class="table-td">@shoe.Model</td>
                    <td class="table-td">@shoe.Price$</td>
                    <td class="table-td">@shoe.Quantity</td>
                    <td class="table-td">Yes</td>
                    <td class="table-td"><img class="table-img" src="@shoe.Image" /></td>
                </tr>
            }
            else
            {
                <tr class="table-tr">
                    <td class="table-td">@shoe.Id</td>
                    <td class="table-td">@shoe.Type</td>
                    <td class="table-td">@shoe.Company</td>
                    <td class="table-td">@shoe.Model</td>
                    <td class="table-td">@shoe.Price$</td>
                    <td class="table-td">@shoe.Quantity</td>
                    <td class="table-td">No</td>
                    <td class="table-td"><img class="table-img" src="@shoe.Image" /></td>
                </tr>
            }
        }
    </tbody>
</table>
<button>
    @Html.ActionLink("Shoes in Sale", "GetShoesInSale", "Shoes")
</button>
<button>
    @Html.ActionLink("Client", "GetShoes", "Shoes")
</button>