@using Marcos_Sport_Store.Models;

<section class="cards-container">
    @foreach (Shoe shoe in Model)
    {
        <article class="card">
            <div class="card-img-box">
                <img class="card-img"
                     src="@shoe.Image" />
            </div>
            <div class="card-info">
                <div class="card-info-header">
                    <p>@shoe.Model</p>
                </div>
                <div class="card-info-footer">
                    <p>@shoe.Price$</p>
                    <p>@shoe.Company</p>
                    <p>@shoe.Type</p>
                </div>
            </div>
        </article>
    }
</section>
<button>
    @Html.ActionLink("Client", "GetShoes", "Shoes")
</button>
<button>
    @Html.ActionLink("Admin", "GetShoesTable", "Shoes")
</button>