@using Marcos_Sport_Store.Models;

@{
    ViewBag.Title = "Pants";

    string CheckBool(bool param)
    {
        if (param == true)
        {
            return "Yes";
        }
        return "No";
    }
}


<div class="page-header">
    <a title="admin view" href="@Url.Action("GetPantsTable", "Pants")" class="admin-link admin-mode">
        <i class="fas fa-users-cog admin-icon"></i>
    </a>
    <div class="options-box">
        @Html.ActionLink("All Pants", "GetPants", "Pants", null, new { @class = "views-options" })
        @Html.ActionLink("Short Pants", "GetShortPants", "Pants", null, new { @class = "views-options" })
        @Html.ActionLink("Long Pants", "GetLongPants", "Pants", null, new { @class = "views-options" })
        @Html.ActionLink("Dryfit Pants", "GetDryfitPants", "Pants", null, new { @class = "views-options" })
        @Html.ActionLink("Price - Low to high", "GetPantsByPrice", "Pants", null, new { @class = "views-options" })
    </div>
    <div class="page-title">
        <h1 class="page-title-h1"><span class="header-span">Pants</span> - Admin Mode</h1>
    </div>
</div>

<table class="admin-table">
    <thead>
        <tr>
            <th class="table-th">Id</th>
            <th class="table-th">Type</th>
            <th class="table-th">Gender</th>
            <th class="table-th">Company</th>
            <th class="table-th">Model</th>
            <th class="table-th">Price</th>
            <th class="table-th">Quantity</th>
            <th class="table-th">Is Short</th>
            <th class="table-th">Is Dryfit</th>
            <th class="table-th">Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Clothing clothing in Model)
        {
            <tr class="table-tr">
                <td class="table-td">@clothing.Id</td>
                <td class="table-td">@clothing.Type</td>
                <td class="table-td">@clothing.Gender</td>
                <td class="table-td">@clothing.Company</td>
                <td class="table-td">@clothing.Model</td>
                <td class="table-td">@clothing.Price$</td>
                <td class="table-td">@clothing.Quantity</td>
                <td class="table-td">@CheckBool((bool)clothing.IsShort)</td>
                <td class="table-td">@CheckBool((bool)clothing.IsDryfit)</td>
                <td class="table-td"><img class="table-img" src="@clothing.Image" /></td>
            </tr>
        }
    </tbody>
</table>