@using Marcos_Sport_Store.Models;

@{
    ViewBag.Title = "Shirts";
}

<div class="page-header">
    <a title="admin view" href="@Url.Action("GetShirtsTable", "Shirts")" class="admin-link">
        <i class="fas fa-users-cog admin-icon"></i>
    </a>
    <div class="options-box">
        @Html.ActionLink("All Shirts", "GetShirts", "Shirts", null, new { @class = "views-options" })
        @Html.ActionLink("Short Shirts", "GetShortShirts", "Shirts", null, new { @class = "views-options" })
        @Html.ActionLink("Long Shirts", "GetLongShirts", "Shirts", null, new { @class = "views-options" })
        @Html.ActionLink("Dryfit Shirts", "GetDryfitShirts", "Shirts", null, new { @class = "views-options current-view" })
        @Html.ActionLink("Price - Low to high", "GetShirtsByPrice", "Shirts", null, new { @class = "views-options" })
    </div>
    <div class="page-title">
        <h1 class="page-title-h1"><span class="header-span">Shirts</span> - Dryfit Shirts</h1>
    </div>
</div>

<section class="cards-container">
    @foreach (Clothing clothing in Model)
    {
        <article class="card">
            <i class="fas fa-heart heart-icon"></i>
            <div class="card-img-box">
                <img class="card-img"
                     src="@clothing.Image" />
            </div>
            <div class="card-info">
                <div class="card-info-header">
                    <p>@clothing.Model</p>
                </div>
                <div class="card-info-footer">
                    <p>@clothing.Price$</p>
                    <p>@clothing.Company</p>
                    <p>@clothing.Type</p>
                </div>
            </div>
        </article>
    }
</section>