@using Marcos_Sport_Store.Models;
@{
    var ActionName = ViewBag.Controller;
}

@if (ActionName == "GetShirts")
{
    <section class="cards-container">
        @foreach (Clothing clothing in Model)
        {
            <article class="card">
                <div class="card-img-box">
                    <img class="card-img"
                         src="@clothing.Image" />
                </div>
                <div class="card-info">
                    <div class="card-info-header">
                        <p>@clothing.Model</p>
                    </div>
                    <div class="card-info-footer">
                        <p>@clothing.Price$</p>
                        <p>@clothing.Company</p>
                        <p>@clothing.Type</p>
                    </div>
                </div>
            </article>
        }
    </section>
    <button>
        @Html.ActionLink("Admin", "GetShirtsTable", "Clothing")
    </button>
}
else if (ActionName == "GetShirtsTable")
{
    @{
        string CheckBool(bool param)
        {
            if (param == true)
            {
                return "Yes";
            }
            return "No";
        }
    }

    <table class="admin-table">
        <thead>
            <tr>
                <th class="table-th">Id</th>
                <th class="table-th">Type</th>
                <th class="table-th">Gender</th>
                <th class="table-th">Company</th>
                <th class="table-th">Model</th>
                <th class="table-th">Price</th>
                <th class="table-th">Quantity</th>
                <th class="table-th">Is Short</th>
                <th class="table-th">Is Dryfit</th>
                <th class="table-th">Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Clothing clothing in Model)
            {
                <tr class="table-tr">
                    <td class="table-td">@clothing.Id</td>
                    <td class="table-td">@clothing.Type</td>
                    <td class="table-td">@clothing.Gender</td>
                    <td class="table-td">@clothing.Company</td>
                    <td class="table-td">@clothing.Model</td>
                    <td class="table-td">@clothing.Price$</td>
                    <td class="table-td">@clothing.Quantity</td>
                    <td class="table-td">@CheckBool((bool)clothing.IsShort)</td>
                    <td class="table-td">@CheckBool((bool)clothing.IsDryfit)</td>
                    <td class="table-td"><img class="table-img" src="@clothing.Image" /></td>
                </tr>
            }
        </tbody>
    </table>
    <button>
        @Html.ActionLink("Client", "GetShirts", "Clothing")
    </button>
}